<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.poly.mob204.bookmanager_binhvttph07052">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NguoiDungDetailActivity"
            android:label="CHI TIẾT NGƯỜI DÙNG"></activity>
        <activity
            android:name=".activity.LuotSachBanChayActivity"
            android:label="TOP 10 SÁCH BÁN CHẠY"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.HoaDonActivity"
            android:label="THÊM HÓA ĐƠN"
            android:parentActivityName=".activity.ListHoaDonActivity" />
        <activity
            android:name=".activity.TheLoaiActivity"
            android:label="THỂ LOẠI"
            android:parentActivityName=".activity.ListTheLoaiActivity" />
        <activity
            android:name=".activity.ThemSachActivity"
            android:label="THÊM SÁCH"
            android:parentActivityName=".activity.ListBookActivity" />
        <activity
            android:name=".activity.NguoiDungActivity"
            android:label="THÊM NGƯỜI DÙNG"
            android:parentActivityName=".activity.ListNguoiDungActivity" />
        <activity
            android:name=".activity.ThongKeDoanhThuActivity"
            android:label="DOANH THU"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ListHoaDonActivity"
            android:label="HÓA ĐƠN"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ListBookActivity"
            android:label="QUẢN LÝ SÁCH"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ListTheLoaiActivity"
            android:label="THỂ LOẠI"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ListNguoiDungActivity"
            android:label="NGƯỜI DÙNG"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.ChangePasswordActivity"
            android:label="ĐỔI MẬT KHẨU"/>
        <activity
            android:name=".activity.LoginActivity"
            android:label="ĐĂNG NHẬP" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="QUẢN LÝ SÁCH" />
    </application>

</manifest>